html,
body {
    height: 100%;
    background-color: #c5c5c5;
}

button,
a {
    color: #343a40;
    text-decoration: none !important;
    display: flex;
}

button:hover ,
a:hover {
    color: #343a40;
    text-decoration: none !important;
    display: flex;
}

h1, h2, h3, h4, h5, h6, a {
    padding: 0;
    margin: 0;
    color: #343a40
}

.nav-icons {
    font-size: 1.7rem;
}

.circle-nav {
    border: 2px solid #343a40;
    border-radius: 32px;
    background-color: red;
    height: 32px;
    width: 32px;
    display: inline-block;
}

.nickname-nav {
    margin-top: 0.2rem;
    font-weight: bold;
}

.main-icons {
    font-size: 5rem;
}

.left-bar {
    background-color: #f8f9fa !important;
    border-top: 1px solid rgba(0,0,0,.1);
    border-right: 1px solid rgba(0,0,0,.1);
    width: 100%;
    padding: 0 0 !important;
}

.left-bar-categories {
    padding: 1rem 0 0;
    margin-bottom: 1rem;
    width:100%;
}

.category-a {
    font-size: 1.1rem;
    padding-left: 1rem;
    margin-bottom: 0.65rem;
}

.category-items {
    display: flex;
    ms-flex-pack: justify !important;
    justify-content: space-between !important;
    padding-bottom: 0.5rem;
    align-items: center;
}

.category-name {
    width: 85%;
    line-height: 1.1rem;
    font-size: 0.84rem;
}

.category-arrow-left {
    margin-right: 0.5rem;
}

.main {
    border-top: 1px solid rgba(0,0,0,.1);
    border-left: 1px solid rgba(0,0,0,.1);
}

.card-main-menu {
    margin-right: 7rem;
    margin-left: 7rem;
    border: 3px solid #343a40;
    background-color: #ddd;
}

.btn-role {
    border: 3px solid #343a40;
    border-radius: 0px;
    background-color: #fff;
}

.btn-icon {
    font-size: 30px;
}

.btn-text-role {
    font-size: 1.2rem;
}

.contain {
    margin-right: -15px;
    margin-left: -15px;
}

.height-mobile-desktop {
    height: 100%;
}

.search_width {
    display: flex;
    width: 50% !important;
}

.arrange {
    width: auto !important;
}

@media (max-width: 1200px) {
    .card-main-menu {
        margin-right: 2rem;
        margin-left: 2rem;
        border: 3px solid #343a40;
        background-color: #ddd;
    }
}

@media (max-width: 767px) {
    .arrange {
        width: 100% !important;
    }

    .search_width {
        display: none;
    }

    .height-mobile-desktop {
        height: auto;
    }

    .main-icons {
        font-size: 4rem;
    }

    .mobile-h3 {
        font-size: 1.7rem;
    }

    .mobile-h5 {
        font-size: 1.15rem;
    }

    .card-main-menu {
        margin-right: 0rem;
        margin-left: 0rem;
        border: 3px solid #343a40;
        background-color: #ddd;
        border-radius: 0px;
    }

    .btn-icon {
        font-size: 26px;
    }

    .btn-text-role {
        font-size: 1.1rem;
    }
}

@media (max-width: 575px) {
    .main-icons {
        font-size: 2.75rem;
    }

    .mobile-h3 {
        font-size: 1.5rem;
    }

    .btn-icon {
        font-size: 23px;
    }

    .btn-text-role {
        font-size: 1rem;
    }
}

@media (min-width: 768px) {
    .left-bar-desktop {
        display: flex !important;
        height: 100% !important;
        width: 100% !important;
    }
}