.searchBox {
    background-color: white;
    z-index: 50;
    position: fixed;
    width: 800px;
    display: grid;
    grid-template-columns: [start-tips] 2fr [end-tips start-filters] 1fr [end-filters];
    grid-template-areas: "tips filters";
    margin-left: calc((100vw - 800px)/2);
    box-shadow: 0 1px 14px #bbb;
}

.searchBox-sidebar-toggled {
    margin-left: calc((100vw - 1300px)/2) !important;
}

.searchBox-tips {
    grid-area: tips;
    height: 500px;
    border-right: 2px solid #ccc;
}

.searchBox-filters {
    grid-area: filters;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 500px;
}

.searchBox-filters h4 {
    align-self: center;
    border-bottom: 2px solid #ccc;
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
}

.searchBox-filters h5 {
    margin-top: 10px;
}

.searchBox-filters input {
    margin-top: 4px;
}

.searchBox-filters-radio {
    display: grid;
    grid-template-columns: [start-radio] 18px [end-radio start-item] 1fr [end-item];
}