<header class="navbar">
    <div class="navbar-left">
        <button class="collapsed" type="button" data-toggle="collapse" data-target="#leftBar">
            <i class="fas fa-bars nav-icons"></i>
        </button>

        <a href="#">
            Asperanto
        </a>
    </div>

    <div class="search_width">
        <form action="" method="get">
            <input type="search" placeholder="Найти">
            <button type="button"><i class="fas fa-search nav-icons"></i></button>
        </form>
    </div>

    <div class="navbar-right">
        <a href="#">
            <div class="circle-nav"></div>
            <span class="nickname-nav">А.И. Гайдамака</span>
        </a>
    </div>

</header>