<div class="wrap-left-bar">
    <div class="left-bar left-bar-desktop collapse" id="leftBar">
        <div class="left-bar-menus">
            <a data-toggle="collapse" href="#categories">Категории <i class="fas fa-sort-down"></i></a>

            <div class="collapse" id="categories">
                <div class="dropright">
                    <a class="category-items dropdown-toggle" data-toggle="dropdown">
                        <span class="category-name">Нефтегазовая промышленность</span>
                        <i class="fas fa-caret-right category-arrow-left"></i>
                    </a>

                    <div class="dropdown-menu">
                        <h6 class="dropdown-item">
                            privet
                        </h6>
                    </div>
                </div>
                <div class="dropright">
                    <a class="category-items dropdown-toggle" data-toggle="dropdown">
                        <span class="category-name">Металлообрабатывающая промышленность</span>
                        <i class="fas fa-caret-right category-arrow-left"></i>
                    </a>

                    <div class="dropdown-menu">
                        <h6 class="dropdown-item">
                            privet
                        </h6>
                    </div>
                </div>
                <div class="dropright">
                    <a class="category-items dropdown-toggle" data-toggle="dropdown">
                        <span class="category-name">Горнодобывающая промышленность</span>
                        <i class="fas fa-caret-right category-arrow-left"></i>
                    </a>

                    <div class="dropdown-menu">
                        <h6 class="dropdown-item">
                            privet
                        </h6>
                    </div>
                </div>
                <div class="dropright">
                    <a class="category-items dropdown-toggle" data-toggle="dropdown">
                        <span class="category-name">Машиностроение</span>
                        <i class="fas fa-caret-right category-arrow-left"></i>
                    </a>

                    <div class="dropdown-menu">
                        <h6 class="dropdown-item">
                            privet
                        </h6>
                    </div>
                </div>
                <div class="dropright">
                    <a class="category-items dropdown-toggle" data-toggle="dropdown">
                        <span class="category-name">Сельское хозяйство</span>
                        <i class="fas fa-caret-right category-arrow-left"></i>
                    </a>

                    <div class="dropdown-menu">
                        <h6 class="dropdown-item">
                            privet
                        </h6>
                    </div>
                </div>
                <div class="dropright">
                    <a class="category-items dropdown-toggle" data-toggle="dropdown">
                        <span class="category-name">Логистика</span>
                        <i class="fas fa-caret-right category-arrow-left"></i>
                    </a>

                    <div class="dropdown-menu">
                        <h6 class="dropdown-item">
                            privet
                        </h6>
                    </div>
                </div>
                <div class="dropright">
                    <a class="category-items dropdown-toggle" data-toggle="dropdown">
                        <span class="category-name">Прочие сервисные услуги</span>
                        <i class="fas fa-caret-right category-arrow-left"></i>
                    </a>

                    <div class="dropdown-menu">
                        <h6 class="dropdown-item">
                            privet
                        </h6>
                    </div>
                </div>
            </div>
        </div>

        <div class="left-bar-menus">
            <a data-toggle="collapse" class="left-bar-a"  href="#counteragents">Контрагенты <i class="fas fa-sort-down"></i></a>

            <div class="collapse" id="counteragents">
                <div class="counteragents-items">
                    <div class="circle-nav"></div>
                    <span>Газпром</span>
                </div>

                <div class="counteragents-items">
                    <div class="circle-nav"></div>
                    <span>Газпром</span>
                </div>

                <div class="counteragents-items">
                    <div class="circle-nav"></div>
                    <span>Газпром</span>
                </div>

                <a class="counteragents-items" href="#">
                    <i class="fas fa-plus"></i>
                    <span>Добавить контрагента</span>
                </a>
            </div>
        </div>

        <div class="left-bar-menus">
            <a data-toggle="collapse" href="#dialogs">Диалоги <i class="fas fa-sort-down"></i></a>

            <div class="collapse" id="dialogs">
                <div class="counteragents-items">
                    <div class="circle-nav"></div>
                    <span>Влад</span>
                </div>

                <div class="counteragents-items">
                    <div class="circle-nav"></div>
                    <span>Конфа</span>
                </div>

                <a class="counteragents-items" href="#">
                    <i class="fas fa-plus"></i>
                    <span>Добавить диалог</span>
                </a>
            </div>
        </div>
    </div>
</div>