<div class="wrap-left-bar">
    <div class="left-bar left-bar-desktop collapse" id="leftBar">
        <div class="left-bar-menus">
            <a data-toggle="collapse" href="#categories">Категории <i class="fas fa-sort-down"></i></a>

            <div class="collapse" id="categories">
                <div class="dropright">
                    <a class="category-items dropdown-toggle" data-toggle="dropdown">
                        <span class="category-name">Нефтегазовая промышленность</span>
                        <i class="fas fa-caret-right category-arrow-left"></i>
                    </a>

                    <div class="dropdown-menu">
                        <h6 class="dropdown-item">
                            privet
                        </h6>
                    </div>
                </div>
                <div class="dropright">
                    <a class="category-items dropdown-toggle" data-toggle="dropdown">
                        <span class="category-name">Металлообрабатывающая промышленность</span>
                        <i class="fas fa-caret-right category-arrow-left"></i>
                    </a>

                    <div class="dropdown-menu">
                        <h6 class="dropdown-item">
                            privet
                        </h6>
                    </div>
                </div>
                <div class="dropright">
                    <a class="category-items dropdown-toggle" data-toggle="dropdown">
                        <span class="category-name">Горнодобывающая промышленность</span>
                        <i class="fas fa-caret-right category-arrow-left"></i>
                    </a>

                    <div class="dropdown-menu">
                        <h6 class="dropdown-item">
                            privet
                        </h6>
                    </div>
                </div>
                <div class="dropright">
                    <a class="category-items dropdown-toggle" data-toggle="dropdown">
                        <span class="category-name">Машиностроение</span>
                        <i class="fas fa-caret-right category-arrow-left"></i>
                    </a>

                    <div class="dropdown-menu">
                        <h6 class="dropdown-item">
                            privet
                        </h6>
                    </div>
                </div>
                <div class="dropright">
                    <a class="category-items dropdown-toggle" data-toggle="dropdown">
                        <span class="category-name">Сельское хозяйство</span>
                        <i class="fas fa-caret-right category-arrow-left"></i>
                    </a>

                    <div class="dropdown-menu">
                        <h6 class="dropdown-item">
                            privet
                        </h6>
                    </div>
                </div>
                <div class="dropright">
                    <a class="category-items dropdown-toggle" data-toggle="dropdown">
                        <span class="category-name">Логистика</span>
                        <i class="fas fa-caret-right category-arrow-left"></i>
                    </a>

                    <div class="dropdown-menu">
                        <h6 class="dropdown-item">
                            privet
                        </h6>
                    </div>
                </div>
                <div class="dropright">
                    <a class="category-items dropdown-toggle" data-toggle="dropdown">
                        <span class="category-name">Прочие сервисные услуги</span>
                        <i class="fas fa-caret-right category-arrow-left"></i>
                    </a>

                    <div class="dropdown-menu">
                        <h6 class="dropdown-item">
                            privet
                        </h6>
                    </div>
                </div>
            </div>
        </div>

        <div class="left-bar-menus">
            <a class="left-bar-a" href="#">Контрагенты</a>
        </div>
    </div> <!-- левая часть (категории и т.д.) -->
</div>