.main-categories {
    display: grid;
    grid-template-rows: [start] 75vh 65px 2fr [end];
    grid-template-areas: "category" "navbar" "products";
}

.category {
    grid-area: category;
    background-image: url("../img/oil_gas.jpg") !important;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    position: sticky;
    top: 45px;
    z-index: 0;
}

.wrap-category {
    background-color: rgba(0,0,0,0.5);
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 200px 1fr;
    grid-template-areas:
        ". h1"
        ". .";
    height: 100%;
}

.category > .wrap-category > h1 {
    font-weight: bold;
    color: white;
    grid-area: h1;
    align-self: end;
    width: 15%;
}

.category-links {
    margin-left: 3rem;
    color: white;
}

.category-links a {
    text-align: left;
}

.asperanto-link {
    display: flex;
    align-items: flex-end;
    margin-right: 3rem;
    color: white;
}

.asperanto-link a {
    text-align: right;
}

.navbar-products {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 65px;
    background-color: #333;
    grid-area: navbar;
}

.link {
    font-size: 1.3rem;
    line-height: 1.6rem;
    padding: 1rem 2rem 1rem 2rem;
    color: white !important;
}

.category-products {
    display: block;
    position: sticky;
    width: 100%;
    overflow: auto;
    z-index: 1;
    background-color: #f4f4f4;
    top: 45px;
    grid-area: products;
}

@media (min-height: 1400px) {
    .main-categories {
        grid-template-rows: [start] 60vh 65px 2fr [end];
    }
}