.main-icons {
    font-size: 5rem;
}

.card-main-menu {
    margin-right: 2rem;
    margin-left: 2rem;
    border: 3px solid #343a40;
    background-color: #ddd;
}

.btn-role {
    border: 3px solid #343a40;
    border-radius: 0px;
    background-color: #fff;
}

.btn-icon {
    font-size: 30px;
}

.btn-text-role {
    font-size: 1.2rem;
}

@media (max-width: 767px) {
    .main-icons {
        font-size: 4rem;
    }

    .mobile-h3 {
        font-size: 1.7rem;
    }

    .mobile-h5 {
        font-size: 1.15rem;
    }

    .btn-icon {
        font-size: 26px;
    }

    .btn-text-role {
        font-size: 1.1rem;
    }
}

@media (max-width: 575px) {
    .main-icons {
        font-size: 2.75rem;
    }

    .mobile-h3 {
        font-size: 1.5rem;
    }

    .btn-icon {
        font-size: 23px;
    }

    .btn-text-role {
        font-size: 1rem;
    }
}