.main-index {
    position: sticky;
    top: 45px;
    display: flex;
    flex-direction: column;
}

.main-icons { /* Красивое отображение основных иконок */
    font-size: 5rem;
}

.card-main-menu { /* Правило для менюшки "текущие контракты" */
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 1rem;
    background-color: #ddd;
}

.btn-role { /* Определение правил для кнопки смены роли */
    border-radius: 0;
    background-color: #fff;
    border: 0;
    float: right;
}

.btn-role > i { /* Правило для иконки в кнопке */
    font-size: 30px;
}

.btn-role > span { /* Правило для текста в кнопке */
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

.index-h {
    text-align: center;
    margin-top: 2rem;
}

.index-icons {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.index-icons > a {
    width: 33.33333%;
    display: flex;
}

.index-icons div {
    text-align: center;
}

.index-icons p {
    display: flex;
    justify-content: center;
}

/* Улучшаем внешний вид для мобилок */

@media (max-width: 1024px) {
    .main-icons {
        font-size: 4rem;
    }

    .btn-role > i {
        font-size: 26px;
    }

    .btn-role > span {
        font-size: 1.1rem;
    }
}

@media (max-width: 575px) {
    .main-icons {
        font-size: 2.75rem;
    }

    .btn-role > i {
        font-size: 23px;
    }

    .btn-role > span {
        font-size: 1rem;
    }

    .index-icons p {
        display: none;
    }

    .card-main-menu {
        margin-right: 0;
        margin-left: 0;
    }
}