html{ /* Использование шрифта, обозначение основного цвета заднего фона*/
    background-color: #c5c5c5;
    font-family: 'IBM Plex Sans', sans-serif;
    z-index: 0;
    margin: 0;
    min-height: 100%;
}

body {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    background-color: #c5c5c5;
    font-family: 'IBM Plex Sans', sans-serif;
    z-index: 0;
    position: relative;
}

/* Оба правила переписывают поведение тегов <a>, <button> под нейтральное*/

button,
a {
    color: #343a40;
    text-decoration: none !important;
    display: flex;
}

button:hover ,
a:hover {
    color: #343a40;
    text-decoration: none !important;
    display: flex;
}

/* Тоже переписывание поведения тегов */

h1, h2, h3, h4, h5, h6, a {
    padding: 0;
    margin: 0;
    color: #343a40
}

p {
    margin-bottom: 0;
}

.page-container { /* Обозначаем свойства расположения объектов в основной части страницы (т.е. исключая навбар) */
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.navbar {
    position: fixed;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    background-color: #f8f9fa;
}

.navbar-left {
    display: flex;
    justify-content: space-between;
    width: 135px;
}

.navbar-left > button {
    display: none;
}

.navbar-left > a {
    display: flex;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    white-space: nowrap;
}



.nav-icons { /* Нормально отображает подгруженные с font-awesome иконки в навбаре */
    font-size: 1.7rem;
}







.main { /* Правило для правой части страницы */
    display: block;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    margin-top: 45px;
}



@media (max-width: 1024px) { /* Изменение поведения некоторых правил для мобилок */


    .page-container {
        height: auto;
        flex-direction: column;
    }

    .navbar-left > button {
        display: flex;
        background-color: #f8f9fa;
        border: 0;
        margin-right: 0.75rem;
    }

    .navbar-left {
        width: auto;
    }

    .navbar-left > a {
        display: none;
    }


}

body {

    background-size: cover;
}

.login {
    margin:200px;

    background-color: white;
    height:220px;
    width: 350px;
    padding:15px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}



.zareg {
    margin-right: 77px;
    float:left;
}


input[type="password"] {
    width:310px;
}

input[type="text"] {
    width:310px;
}
.forget{
    margin-left:186px;
}
.password{
    float: left;
}



.mnp {
    margin-right:300px;
    float: left;
    margin:200px;
    width: 350px;
}
