.main-goods {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 45px;
    margin-top: 45px;
}

.products { /* Блок под все товары (карточки с товарами) */
    margin-left: 2rem;
    margin-right: 2rem;
    display: inline-block;
    width: 100%;
    margin-top: 1rem;
}

.product-filters-mobile {
    display: none;
}

.product-filters {
    width: 380px;
}

.product-filters > form {
    display: block;
    width: 100%;
    padding: 1rem 1rem 1rem 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
    position: relative;
    background-color: #d9dadb;
    border-radius: 15px;
}

.product-filters > h5 {
    text-align: left;
    margin-bottom: 1rem;
    font-weight: bold;
}

.filter-button {
    border: 0px solid #343a40;
    border-radius: 0px;
    background-color: #fff;
    font-weight: bold;
    margin-top: 0.5rem;
}

.filter-price > div {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.filter-price div button {
    border: 0px solid #343a40;
    border-radius: 0px;
    background-color: #fff;
    font-weight: bold;
}

.filter-price > div > input {
    border: 0px solid #343a40;
    border-radius: 25px;
    background-color: #fff;
    font-weight: bold;
}

.filter-countries {
    font-weight: bold;
}

.filter-small-mobile {
    display: none !important;
}

.product-window { /* Непосредственно правило для карточки */
    width: 100%;
    padding: 1rem 1.5rem 1rem 1.5rem;
    margin-bottom: 2rem;
    border: 0px solid #343a40;
    background-color: #f8f9fa;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    position: relative;
}

.picture-product { /* Класс, который определяет поведение блока, хранящий картинку */
    position: relative;
    display: inline-block;
}

.picture-product img { /* Размер основной картинки */
    width: 200px;
    height: 200px;
}

.other-pics-product { /* Правило, описывающее поведение блока, хранящего маленькие дополнительные картинки */
    margin-top: 0.6rem;
}

.other-pics-product img { /* Размер дополнительных картинок */
    height: 32px;
    width: 32px;
}

.product-meta { /* Блок, в котором находятся название товара, цена, поставщик (мета информация),
                    также ссылки (либо "подробнее..." либо "написать контрагенту" и блок с дополнительными картинками */
    display: inline-block;
    margin-right: 1rem;
    margin-left: 1rem;
    line-height: 1.2rem;
    width: 30%;
}

.product-meta .picture-product { /* На мобилках отображение карточки выглядит иначе, поскольку по другому идет разметка. Это правило скрывает теги, которые используются в мобилках */
    display: none;
}

/* Описание правил для текста в мета информации */

.product-meta h5 {
    margin-bottom: 0.4rem;
    font-size: 1.1rem;
    overflow-wrap: break-spaces;
}

.product-meta h6 {
    margin-bottom: 0.4rem;
    font-size: 0.9rem;
    overflow-wrap: break-spaces;
}

.product-meta a {
    font-weight: bold;
    font-size: 1.1rem;
    margin-right: 0.5rem;
}

.product-price {
    color: rgb(255, 165, 56);
}

.product-meta .product-headers a { /* Тоже мобилки */
    display: none;
}

.product-desc {
    width: 70%;
}

.product-desc p { /* Правило для описания товара */
    width: 100%;
    display: block;
    overflow-wrap: break-word;
    margin: 0 0 0 0;
    height: 85%;
}

.product-desc .product-fav { /* Правило для описания товара */
    display: block;
    text-align: right;
    font-weight: bold;
    font-size: 1.3rem;
}

.product-meta-links {
    display: flex;
    align-items: center;
}

.product-meta .product-fav {
    display: none;
}

@media (max-width: 1200px) { /* Все ради узких мониторов */
    .product-window {
        flex-wrap: wrap;
    }

    .product-desc {
        margin-top: 0.5rem;
    }

    .product-fav {
        display: none !important;
    }

    .product-meta .product-fav {
        margin-top: 0.5rem;
        display: block !important;
    }

    .product-meta {
        width: auto;
    }

    .product-desc {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .filter-category-mobile-icon {
        font-size: 12px;
        margin-left: 0.25rem;
    }

    .main-goods {
        display: block;
    }

    .products {
        margin: 0;
    }

    .product-filters-mobile {
        display: block;
        width: 100%;
        background-color: #f8f9fa;
        padding: 1rem 1rem 1rem 1.5rem;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    }

    .product-filters-mobile > a {
        display: inline-flex;
        align-items: center;
        margin-right: 2rem;
    }

    .other-filters-mobile {
        float: right;
    }

    .product-filters {
        display: none;
    }

    .product-window {
        flex-wrap: nowrap;
    }

    .product-desc {
        margin-top: 0;
    }

    .product-fav {
        display: block !important;
    }

    .product-meta .product-fav {
        display: none !important;
    }

    .product-meta {
        width: 30%;
    }

    .product-desc {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .picture-product img { /* Размер основной картинки */
        width: 150px;
        height: 150px;
    }

    .product-window {
        flex-wrap: wrap;
    }

    .product-desc {
        margin-top: 0.5rem;
    }

    .product-fav {
        display: none !important;
    }

    .product-meta .product-fav {
        display: block !important;
    }

    .product-meta {
        width: auto;
    }

    .product-desc {
        width: 100%;
    }
}

@media (max-width: 500px) { /* Тут начинаются правила для новой карточки (мобильной) (связка классов .product-meta .picture-product используется только в
                                                      мобильной версии (отображает картинку), а просто .picture-product - в десктопах)  */

    .product-filters-mobile a:not(filter-small-mobile) {
        display: none;
    }

    .filter-small-mobile {
        text-align: center;
        display: inline-flex !important;
        align-items: center;
    }

    .product-meta .product-fav {
        display: none !important;
    }

    .products {
        margin: 0 0 0 0;
    }

    .product-window {
        width: 100%;
    }

    .picture-product {
        display: none;
    }

    .product-meta {
        display: block;
        width: 100%;
        margin: 0 0 0 0;
    }

    .product-meta h5 {
        text-align: center;
    }

    .product-meta div h5 {
        text-align: left;
    }

    .product-meta .picture-product {
        margin-top: 0.5rem;
        display: inline-block;
    }

    .product-meta .picture-product img {
        display: block;
        width: 100px;
        height: 100px;
    }

    .product-meta > div > a,
    .product-meta > div > i { /* Прячем "написать контрагенту" */
        display: none;
    }

    .product-meta .product-headers a {
        display: inline-block;
    }

    .product-desc {
        display: none;
    }

    .product-headers { /* Класс для цены, производителя и ссылки "подробнее..." */
        margin-top: 0.5rem;
        display: inline-block;
        overflow-wrap: break-word;
        position: absolute;
        margin-left: 1rem;
    }
}

@media (min-width: 1040px) {
    .product-desc {
        display: block !important;
    }
}
