.arrow-back { /* Большая стрелочка слева */
    display: block;
    margin-top:1rem;
    width: 40px;
    margin-left: 1rem;
}

.products { /* Блок под все товары (карточки с товарами) */
    margin-left: 2rem;
    margin-right: 2rem;
    display: inline-block;
    width: 100%;
}

.product-window { /* Непосредственно правило для карточки */
    width: 100%;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border: 3px solid #343a40;
    margin-top: 1rem;
    background-color: #f8f9fa;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    position: relative;
}

.picture-product { /* Класс, который определяет поведение блока, хранящий картинку */
    position: relative;
    display: inline-block;
}

.picture-product img { /* Размер основной картинки */
    width: 200px;
    height: 200px;
}

.other-pics-product { /* Правило, описывающее поведение блока, хранящего маленькие дополнительные картинки */
    margin-top: 0.6rem;
}

.other-pics-product img { /* Размер дополнительных картинок */
    height: 32px;
    width: 32px;
}

.product-meta { /* Блок, в котором находятся название товара, цена, поставщик (мета информация),
                    также ссылки (либо "подробнее..." либо "написать контрагенту" и блок с дополнительными картинками */
    display: inline-block;
    margin-right: 1rem;
    margin-left: 1rem;
    line-height: 1.2rem;
}

.product-meta .picture-product { /* На мобилках отображение карточки выглядит иначе, поскольку по другому идет разметка. Это правило скрывает теги, которые используются в мобилках */
    display: none;
}

/* Описание правил для текста в мета информации */

.product-meta h5 {
    margin-bottom: 0.4rem;
    font-size: 1.1rem;
    overflow-wrap: break-spaces;
}

.product-meta h6 {
    margin-bottom: 0.4rem;
    font-size: 0.9rem;
    overflow-wrap: break-spaces;
}

.product-meta a {
    font-weight: bold;
    font-size: 1.1rem;
    margin-right: 0.5rem;
}

.product-price {
    color: rgb(255, 165, 56);
}

.product-meta .product-headers a { /* Тоже мобилки */
    display: none;
}

.product-desc p { /* Правило для описания товара */
    width: 100%;
    display: block;
    overflow-wrap: break-word;
    margin: 0 0 0 0;
}

@media (max-width: 1200px) { /* Все ради узких мониторов */
    .product-meta {
        width: 50%;
    }
}

@media (max-width: 1040px) {
    .product-window {
        flex-wrap: wrap;
    }

    .picture-product img {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 767px) {
    .arrow-back {
        display: none;
    }
}

@media (max-width: 526px) { /* Тут начинаются правила для новой карточки (мобильной) (связка классов .product-meta .picture-product используется только в
                                                            мобильной версии (отображает картинку), а просто .picture-product - в десктопах)  */
    .products {
        margin: 0 0 0 0;
    }

    .product-window {
        width: 100%;
    }

    .picture-product {
        display: none;
    }

    .product-meta {
        display: block;
        width: 100%;
        margin: 0 0 0 0;
    }

    .product-meta h5 {
        text-align: center;
    }

    .product-meta div h5 {
        text-align: left;
    }

    .product-meta .picture-product {
        margin-top: 0.5rem;
        display: inline-block;
    }

    .product-meta .picture-product img {
        display: block;
        width: 100px;
        height: 100px;
    }

    .product-meta > div > a,
    .product-meta > div > i { /* Прячем "написать контрагенту" */
        display: none;
    }

    .product-meta .product-headers a {
        display: inline-block;
    }

    .product-desc {
        display: none;
    }

    .product-headers { /* Класс для цены, производителя и ссылки "подробнее..." */
        margin-top: 0.5rem;
        display: inline-block;
        overflow-wrap: break-word;
        position: absolute;
        margin-left: 1rem;
    }
}

@media (min-width: 1040px) {
    .product-desc {
        display: block !important;
    }
}
