html{ /* Использование шрифта, обозначение основного цвета заднего фона*/
    background-color: #c5c5c5;
    font-family: 'IBM Plex Sans', sans-serif;
    z-index: 0;
    margin: 0;
    min-height: 100%;
}

body {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    background-color: #c5c5c5;
    font-family: 'IBM Plex Sans', sans-serif;
    z-index: 0;
    position: relative;
    overflow: auto;
}

/* Оба правила переписывают поведение тегов <a>, <button> под нейтральное*/

button,
a {
    color: #343a40;
    text-decoration: none !important;
    display: flex;
}

button:hover ,
a:hover {
    color: #343a40;
    text-decoration: none !important;
    display: flex;
}

/* Тоже переписывание поведения тегов */

h1, h2, h3, h4, h5, h6, a {
    padding: 0;
    margin: 0;
    color: #343a40
}

p {
    margin-bottom: 0;
}

.page-container { /* Обозначаем свойства расположения объектов в основной части страницы (т.е. исключая навбар) */
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.navbar {
    position: fixed;
    height: 45px;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    background-color: #f8f9fa;
}

.navbar-left {
    display: flex;
    justify-content: space-between;
    width: 135px;
}

.navbar-left > button {
    display: none;
}

.navbar-left > a {
    display: flex;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    white-space: nowrap;
}

.navbar-right {
    display: flex;
    margin-right: 0.5rem;
}

.nav-icons { /* Нормально отображает подгруженные с font-awesome иконки в навбаре */
    font-size: 1.7rem;
}

.circle-nav { /* Временный класс, сейчас рисует красный кружок около имени пользователя, должен быть подгруженный аватар */
    border: 2px solid #343a40;
    border-radius: 32px;
    background-color: red;
    height: 32px;
    width: 32px;
    display: inline-block;
    margin-right: 0.5rem;
}

.nickname-nav { /* Красиво отображет имя пользователя */
    margin-top: 0.2rem;
    font-weight: bold;
}

.search_width { /* Отражает поведение поисковой строки */
    display: flex;
    flex-grow: 0 !important;
    width: 50% !important;
}

.search_width > form {
    display: flex;
    width: 100%;
}

.search_width > form > input {
    display: inline-block;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 8px;
    padding: 0.3rem 0 0.3rem 0.6rem;
}

.search_width > form > button {
    display: flex;
    background-color: #f8f9fa;
    border: 0;
    margin-right: 0.25rem;
}

.wrap-left-bar {
    background-color: #f8f9fa !important;
    border-right: 1px solid rgba(0,0,0,.1);
    min-height: 100%;
}

.left-bar { /* Основные настройки левой панели */
    margin-top: 45px;
    display: flex;
    background-color: #f8f9fa !important;
    flex-direction: column;
    -ms-flex-direction: column;
    padding: 0 0 0 0;
    position: sticky;
    top: 45px;
    z-index: 1;
}

.left-bar > div > a { /* Поскольку каждый заголовок в левой части является триггером для вызова collapse менюшки,
                        эти заголовки должны быть тегом <a>, а сами менюшки все заключены в свой <div>. Отсюда и правило этих заголовков */
    font-size: 1.1rem;
    margin-bottom: 0.65rem;
}

.left-bar-menus { /* Описание общих свойств блоков */
    display: block;
    padding: 0.8rem 0 0 1rem !important;
    width: 100%;
    height: auto;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.left-bar-menus > a > i {
    margin-left: 0.5rem;
}

.category-items { /* Правило для блока, в котором находится название категории и стрелочка */
    display: flex;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
    padding-bottom: 0.5rem;
    align-items: center;
}

.category-name { /* Правило для текста в блоке категорий */
    width: 85%;
    line-height: 1.1rem;
    font-size: 0.84rem;
}

.category-arrow-left { /* Правило для стрелочки */
    margin-right: 0.5rem;
}

.main { /* Правило для правой части страницы */
    display: block;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
}

.wrap-main {
    width: 100%;
    position: sticky;
    display: flex;
    flex-direction: column;
    top: 45px;
}

.dropright .dropdown-toggle::after { /* Чиним поведение стрелочек в бутстрепе */
    display: none;
}

@media (max-width: 1024px) { /* Изменение поведения некоторых правил для мобилок */
    .search_width {
        display: flex;
        flex-grow: 1 !important;
    }

    .search_width > form > button {
        display: none;
    }

    .page-container {
        height: auto;
        flex-direction: column;
    }

    .navbar-left > button {
        display: flex;
        background-color: #f8f9fa;
        border: 0;
        margin-right: 0.75rem;
    }

    .navbar-left {
        width: auto;
    }

    .navbar-left > a {
        display: none;
    }

    .navbar-right {
        display: none;
    }
}

@media (min-width: 1025px) { /* Правило только для десктоп версии */
    .left-bar-desktop {
        display: flex !important;
        width: 240px;
    }
}