html,
body {
    height: 100%;
    background-color: #c5c5c5;
    font-family: 'IBM Plex Sans', sans-serif;
}

button,
a {
    color: #343a40;
    text-decoration: none !important;
    display: flex;
}

button:hover ,
a:hover {
    color: #343a40;
    text-decoration: none !important;
    display: flex;
}

h1, h2, h3, h4, h5, h6, a {
    padding: 0;
    margin: 0;
    color: #343a40
}

.page-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.nav-icons {
    font-size: 1.7rem;
}

.circle-nav {
    border: 2px solid #343a40;
    border-radius: 32px;
    background-color: red;
    height: 32px;
    width: 32px;
    display: inline-block;
}

.nickname-nav {
    margin-top: 0.2rem;
    font-weight: bold;
}

.left-bar {
    display: flex;
    background-color: #f8f9fa !important;
    border-top: 1px solid rgba(0,0,0,.1);
    border-right: 1px solid rgba(0,0,0,.1);
    flex-direction: column;
    -ms-flex-direction: column;
    padding: 0 0 0 0;
}

.left-bar > div > a {
    font-size: 1.1rem;
    margin-bottom: 0.65rem;
}

.left-bar-categories {
    padding: 0.8rem 0 0 1rem !important;
    width: 100%;
    height: auto;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.category-items {
    display: flex;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
    padding-bottom: 0.5rem;
    align-items: center;
}

.category-name {
    width: 85%;
    line-height: 1.1rem;
    font-size: 0.84rem;
}

.category-arrow-left {
    margin-right: 0.5rem;
}

.counteragents {
    padding: 0.8rem 0 0 1rem !important;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.main {
    border-top: 1px solid rgba(0,0,0,.1);
    border-left: 1px solid rgba(0,0,0,.1);
    padding-right: 0;
    padding-left: 0;
    width: 100%;
}

.search_width {
    display: flex;
    flex-grow: 0 !important;
    width: 50% !important;
}

.dropright .dropdown-toggle::after {
    display: none;
}

@media (max-width: 767px) {
    .search_width {
        display: flex;
        flex-grow: 1 !important;
    }

    .page-container {
        height: auto;
        flex-direction: column;
    }
}

@media (min-width: 768px) {
    .left-bar-desktop {
        display: flex !important;
        height: 100% !important;
        width: 280px; !important;
    }
}