.main-organization {
    display: grid;
    grid-template-rows: [start-name] 70px [end-name start-nav] 45px [end-nav start-body] 1fr [end-body];
    grid-template-areas:
        "name"
        "nav"
        "body";
    height: 100%;
    width: calc(100vw - 400px);
    justify-self: center;
    background-color: white;
}

.name-organization {
    grid-area: name;
    padding: 10px 0 10px 0;
    margin: 0 15px 20px 15px;
    font-size: 36px;
    font-weight: bold;
}

.nav-organization {
    display: flex;
    flex-direction: row;
    align-content: center;
    background-color: #eee;
    grid-area: nav;
    height: 100%;
}

.nav-organization a {
    align-items: center;
    font-size: 20px;
    padding: 0 15px 0 15px;
}

.call-organization {
    flex-grow: 1;
    justify-content: flex-end;
    display: flex;
}

.toggled {
    background-color: #ddd;
}