.main-organization {
    display: grid;
    grid-template-rows: [start-nav] 40px [end-nav start-quick-info start-description] 310px [end-quick-info] 1fr [end-description];
    grid-template-columns: [start-body] 15fr [end-body start-quick-info] 5fr [end-quick-info];
    grid-template-areas:
        "nav quick-info"
        "description quick-info"
        "description .";
    height: 100%;
}

.nav-organization {
    grid-area: nav;
    background-color: #ddd;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.nav-organization a {
    color: black;
    padding: 5px 10px 5px 10px;
}

.quick-info-organization {
    grid-area: quick-info;
}

.quick-info-image {
    background-image: url('../../../public/img/oil_gas.jpg');
    height: 200px;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
    margin-left: 20px;

}


.description-organization {
    grid-area: description;
}

