.main-goods {
    display: grid;
    grid-template-columns: [start] auto [products-end filters-start] 300px [end];
    grid-template-rows: [start] auto [end];
    grid-template-areas:
        "products filters";
    position: relative;
    height: 100%;
    overflow: hidden;
}

/* ----------------------------------------------------- Окошки с товарами -------------------------------------------------------- */

.products-when-page-margined { /* Блок под все товары (карточки с товарами) */
    grid-area: products;
    display: grid;
    grid-template-columns: [start] repeat(2, 1fr) [end];
    grid-auto-rows: 420px;
    overflow: auto;
    padding-bottom: 10px;
    margin-top: 20px;
    padding-left: 15px;
    border-top: 1px solid #ccc;
}

@media (min-width: 1550px) {
    .products-when-page-margined {
        grid-template-columns: [start] repeat(3, 1fr) [end];
    }
}

@media (min-width: 1800px) {
    .products-when-page-margined {
        grid-template-columns: [start] repeat(4, 1fr) [end];
    }
}

@media (min-width: 2200px) {
    .products-when-page-margined {
        grid-template-columns: [start] repeat(5, 1fr) [end];
    }
}

.products { /* Блок под все товары (карточки с товарами) */
    grid-area: products;
    display: grid;
    grid-template-columns: [start] repeat(2, 1fr) [end];
    grid-auto-rows: 420px;
    overflow: auto;
    padding-bottom: 10px;
    margin-top: 20px;
    padding-left: 15px;
    border-top: 1px solid #ccc;
}

@media (min-width: 1270px) {
    .products {
        grid-template-columns: [start] repeat(3, 1fr) [end];
    }
}

@media (min-width: 1520px) {
    .products {
        grid-template-columns: [start] repeat(4, 1fr) [end];
    }
}

@media (min-width: 1920px) {
    .products {
        grid-template-columns: [start] repeat(5, 1fr) [end];
    }
}

@media (min-width: 2150px) {
    .products {
        grid-template-columns: [start] repeat(6, 1fr) [end];
    }
}

@media (min-width: 2450px) {
    .products {
        grid-template-columns: [start] repeat(7, 1fr) [end];
    }
}

.product-window { /* Непосредственно правило для карточки */
    background-color: white;
    display: grid;
    grid-template-rows: [start] 0 210px 100px 60px [end];
    grid-template-areas: "." "pic" "meta" "links";
    grid-row-gap: 15px;
    border-bottom: 1px solid #ccc;
}

.product-pic { /* Класс, который определяет поведение блока, хранящий картинку */
    grid-area: pic;
    position: relative;
    display: block;
    justify-self: center;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    height: 210px;
    width: 240px;
    margin-left: 15px;
    margin-right: 20px;
}

.product-meta { /* Блок, в котором находятся название товара, цена, поставщик (мета информация),
                    также ссылки (либо "подробнее..." либо "написать контрагенту" и блок с дополнительными картинками */
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-left: 15px;
    line-height: 1.2rem;
    grid-area: meta;
    border-bottom: 2px solid #ccc
}

.product-name {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.product-author {
    font-size: 14px;
}

.product-price {
    color: rgb(255, 165, 56);
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;

}

.product-links {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-left: 15px;
    line-height: 1.2rem;
    grid-area: links;
}

.product-contact {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-fav {

}

/* ---------------------------------------------------- Фильтр ---------------------------------------------------------- */

.product-filters {
    grid-area: filters;
    height: 100%;
    background-color: white;
    border-left: 1px solid #cbcbcb;
    box-sizing: content-box;
    padding-left: 10px;
    padding-top: 5px;
}

.product-filters-wrapper {
    display: block;
    padding: 15px;
}

.product-filters > form {
    display: block;
    width: 100%;
    padding: 1rem 1rem 1rem 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
    position: relative;
    background-color: #d9dadb;
    border-radius: 15px;
}

.product-filters > h5 {
    text-align: left;
    margin-bottom: 1rem;
    font-weight: bold;
}

.filter-button {
    background-color: #fff;
    font-weight: bold;
    margin-top: 0.5rem;
}

.filter-price > div {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.filter-price div button {
    background-color: #fff;
    font-weight: bold;
}

.filter-price > div > input {
    border-radius: 25px;
    background-color: #fff;
    font-weight: bold;
}

.filter-countries {
    font-weight: bold;
}

.filter-small-mobile {
    display: none !important;
}

