footer {
  grid-area: footer;
  font-family: 'Roboto';
  background-color: #fff;
  display: block;
  height: 130px;
  color: #555;
}

.footer-own-logo-box {
  display: flex;
  justify-content: center;
}

.footer-logo {
  font-size: 18px;
  padding: 5px;
  height: inherit;
  margin: 0px;
}

.footer-partners-box {
  /*display: block;*/
  font-size: 14px;
  font-weight: 400;
}

.footer-partners-heading-box {
  display: flex;
  justify-content: center;
  height: 22px;
}

.footer-partners-heading {
  font-family: 'Roboto';
  font-size: 17px;
  height: 20px;
}

.footer-partners-logos-box {
  /*width: 100vw;*/
  display: flex;
  justify-content: center;
  text-align: center;
}

.footer-partners-logos {
  width: 270px;
  margin: 0px 10px;
}

.footer-partners-logos > a > img {
  height: 50px;
  width: auto;
  margin: 0px 10px;
}

