.navbar {
    position: fixed;
    height: 90px;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    display: grid;
    grid-template-areas:
        "left-part center right-part"
        ". categories .";
    grid-template-columns: [leftPart-start] 170px [leftPart-end center-start] 1fr [center-end rightPart-start] 170px;
    align-items: center;
    grid-template-rows: 1fr 1fr;
    background-color: #444;
    grid-area: header;
    box-sizing: inherit;
}

/* --------------------------------------------------------- Левая часть --------------------------------------------- */

.navbar-left {
    display: flex;
    grid-area: left-part;
    align-content: center;
}

.navbar-left > a {
    display: inline-block;
    font-size: 1.25rem;
    white-space: nowrap;
    color: white;
}

.navbar-left a:hover {
    color: white !important;
}

.navbar-left > button {
    display: inline;
    background-color: #444;
    border: 0;
    margin-right: 10px;
    margin-left: 10px;
    color: white;
}

.navbar-left button:hover {
    color: white !important;
}

/* ------------------------------------------------------ Центр (поисковая строка) ---------------------------------------------------- */

.center { /* Отражает поведение поисковой строки */
    display: flex;
    grid-area: center;
    justify-self: center;
}

.center > form {
    display: flex;
    width: 100%;
    border-radius: 4px;
}

.center > form > input {
    display: inline-block;
    width: 500px;
    padding: 5px 5px 5px 5px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 30px;
    font-size: 14px;
}

.center > form > input:focus {
    border: 1px solid rgba(27, 13, 7, 0.25);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}


.center > form > button {
    display: flex;
    background-color: #ccc;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-left: 0;
    width: 50px;
    justify-content: center;
    transition-duration: 0.5s;
    transition-property: all;
}

.center > form > button:hover {
    background-color: #aaa;
}

.center > form i {
    font-size: 20px;
}

.nav-icons { /* Нормально отображает подгруженные с font-awesome иконки в навбаре */
    font-size: 24px;
}

/* --------------------------------------------------------- Правая часть ------------------------------------------------------- */

.navbar-right {
    display: flex;
    grid-area: right-part;
}

.circle-nav { /* Временный класс, сейчас рисует красный кружок около имени пользователя, должен быть подгруженный аватар */
    border: 2px solid #343a40;
    border-radius: 32px;
    background-color: red;
    height: 32px;
    width: 32px;
    display: inline-block;
    margin-right: 0.5rem;
}

.nickname-nav { /* Красиво отображет имя пользователя */
    margin-top: 0.2rem;
    font-weight: bold;
    color: white;
}

/* ------------------------------------------------------- Категории ----------------------------------------------------------- */

.categories {
    grid-area: categories;
    display: grid;
    grid-template-columns: [сategories-start] repeat(6, 1fr) [categories-end];
    justify-items: center;
    text-align: center;
}

.categories a {
    color: #ddd !important;
}

.categories a:hover {
    color: #ddd !important;
}

.categories-all {
    font-weight: bold;
    color: white;
}
