footer {
  grid-area: footer;
  font-family: 'Roboto';
  background-color: #333;
  border-top: 1px solid #c5c5c5;
  display: block;
  height: 130px;
}

.footer-own-logo-box {
  display: flex;
  justify-content: center;
}

.footer-logo {
  color: white;
  font-size: 18px;
  padding: 5px;
  height: inherit;
  margin: 0px;
}

.footer-partners-box {
  display: block;
  font-size: 14px;
  font-weight: 400;
}

.footer-partners-heading-box {
  display: flex;
  justify-content: center;
  height: 22px;
}

.footer-partners-heading {
  color: #fff;
  font-family: 'Roboto';
  font-size: 17px;
  height: 20px;
}

.footer-partners-logos-box {
  justify-content: center;
  display: inline-flex;
  height: 55px;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.footer-partners-logos {
  width: inherit;
  justify-content: center;
  display: inline-block;
  width: 275px;
}

.footer-partners-logos > a > img {
  height: 100%;
  margin: 0px 10px;
}

