html { /* Использование шрифта, обозначение основного цвета заднего фона*/
    background-color: white;
    font-family: 'Roboto', sans-serif;
    z-index: 0;
    margin: 0;
    min-height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    min-height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    z-index: 0;
    overflow-y: scroll;
}

#root {
    height: 100%;
}

.wrapper {
    height: 100%;
    transition-property: all;
    transition-duration: 1s;
}

/*.wrapper-page {*/
    /*height: 100%;*/
    /*display: grid;*/
    /*grid-template-rows: [navbar-start] 90px [navbar-end body-start] 1fr [body-end footer-start] 42px [footer-end];*/
    /*grid-template-columns: 100%;*/
    /*grid-template-areas:*/
            /*"header"*/
            /*"main"*/
            /*"footer";*/
    /*transition-property: all;*/
    /*transition-duration: 1s;*/
/*}*/

/* Правила переписывают поведение тегов  под нейтральное */

button,
a,
button:hover,
a:hover {
    /*color: #343a40;*/
    text-decoration: none !important;
    /*/*display: flex;*! -- от этого все едет при наведении на ссылки*/
    cursor: pointer;
}


a:hover {
    color: #91d3ff;
    text-decoration: initial;
}

button:focus,
a:focus,
button:active,
a:active,
input:focus,
input:active {
    outline: none;
}

/*for bootstrap buttons*/
.btn:focus {
    box-shadow: none !important;
}
/*h1, h2, h3, h4, h5, h6, a {*/
    /*padding: 0;*/
    /*margin: 0;*/
    /*color: #343a40*/
/*}*/

input {
    padding: 0;
    margin: 0;
}

p {
    margin-bottom: 0;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}